@media (min-width: 0px) {
    body {
        font-family: Consolas, "Courier New", monospace;
        font-size: 12px;
        color: white;
        line-height: 1.5;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    strong {
        font-size: 12px;
        opacity: 0.75;
        display: block;
    }

    .menu {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    @supports(padding: max(0px)) {
        .menu {
            padding-top: max(0px, env(safe-area-inset-top));
            padding-left: max(0px, env(safe-area-inset-left));
        }
    }

    .menu > .info {
        background-color: rgb(91, 112, 115);
        padding: 7px 10px;
        margin-bottom: 20px;
        width: 190px;
    }

    .menu > .buttons {
        margin-bottom: 20px;
        white-space: nowrap;
    }

    .button {
        display: inline-block;
        background-color: rgba(91, 112, 115, 0.5);
        margin-right: 10px;
        width: 42px;
        height: 42px;
        vertical-align: top;
    }

    .button > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0.5;
    }

    .button:hover {
        background-color: rgba(91, 112, 115, 0.75);
        cursor: pointer;
    }

    .button:hover > img {
        opacity: 1;
    }

    .button.info {
        background-color: transparent;
        width: 42px;
        height: 42px;
        padding: 0;
    }

    .top-right {
        position: absolute;
        top: 16px;
        right: 5px;
    }

    .logo {
        position: absolute;
        bottom: 16px;
        left: 16px;
    }

    .logo img {
        width: 90px;
    }

    @supports(padding: max(0px)) {
        .logo {
            padding-top: max(0px, env(safe-area-inset-top));
            padding-left: max(0px, env(safe-area-inset-left));
        }
    }

    .hidden {
        display: none;
    }
}